body {
    display: flex;
    justify-content: center;
}

aside {
 text-align: center;
 padding-top: 2%;
 background-color: black;
 width: 25%;
}

h3 {
    font-size: 3vw;
    margin-bottom: 2%;
    color: white;
}

.wins {
    margin-top: 1%;
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 3vw;
    margin-top: 20%;
}

.board-container {
    width: 50%;
    height: 50%;
    margin-top: 10%;
}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    display: flex;
    aspect-ratio: 1;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}

#a1, #a2, #a3 {
    border-top: 0px;
}

#c1, #c2, #c3 {
    border-bottom: 0px;
}

#a1, #b1, #c1 {
    border-left: 0px;
}

#a3, #b3, #c3 {
    border-right: 0px;
}
